* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-pink: #2cc4e7;
}

body {
  background: var(--clr-pink);
}

.listContainer {
  width: 400px;
  min-height: 200px;
  margin: 10rem auto 0;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.dev {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

button {
  cursor: pointer;
  align-self: stretch;
  background-color: var(--clr-pink);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

svg {
  cursor: pointer;
}
