.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  h1 {
    color: red;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    li:nth-child(2) {
      button {
        background-color: red;
        padding: 10px 15px;
        border-radius: 6px;
      }
    }
  }
}
